[submodule "third_party/foundry-vtt-community-macros"]
	path = third_party/foundry-vtt-community-macros
	url = https://github.com/foundry-vtt-community/macros
[submodule "third_party/foundry-vtt-community-tables"]
	path = third_party/foundry-vtt-community-tables
	url = https://github.com/foundry-vtt-community/tables
[submodule "third_party/foundryvtt-shadowdark"]
	path = third_party/foundryvtt-shadowdark
	url = https://github.com/Muttley/foundryvtt-shadowdark
[submodule "third_party/FoundryVTT-crunch-my-party"]
	path = third_party/FoundryVTT-crunch-my-party
	url = https://github.com/coffiarts/FoundryVTT-crunch-my-party.git
