{
  "foundry_admin_key": "<your-foundry-admin-password>",
  "foundry_username": "<your-foundry-account-username>",
  "foundry_password": "<your-foundry-account-password>",
  "foundry_world": "lost-citadel",
  "foundry_gamemaster_user": "Gamemaster",
  "foundry_gamemaster_password": ""
}
